html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('hacker_pic.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    flex-direction: column; 
}

@keyframes waveAnimation {
    0% {
        transform: scale(1);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7);
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
    }
}


.welcom {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff; 
    text-align: center;
    margin-bottom: 20px;
    animation: waveAnimation 3s infinite ease-in-out;
    transform-origin: center; 
    position: fixed; 
    top: 100px; 
    width: 100%; 
    z-index: 10; 
}

.page_center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid greenyellow;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6); 
}

input {
    border: 2px solid greenyellow;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
}

button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden; 
    transition: background-color 0.3s ease; 
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2); 
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: transform 0.8s ease;
}

button:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}

button:hover {
    background-color: #45a049; 
}

label {
    font-weight: bold;
    font-size: 18px; 
    color: rgba(255, 255, 255, 255); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
