#first_button{
    color: white;
    background-color: black;
    height:50px;
    width: 200px;
    margin-top: 5%; 
    margin-left: 47%;
    

}
#list{
    margin-top: 5%;
    margin-left: 50%;
    font-size: 20px;
    
}
#computer_options{
    margin-top: 5%;
    
    width: 100px;
}

#computer_files_rpresent{
    display: none;
    #computer_files{
        width: 100px
    }
    #result_container{
        pre{
            color: wheat;
            margin-left: 50%;
            font-size: 20px;
        }
    
    }
}

label{
    color: wheat;
    margin-top: 5%;
    margin-left: 40%;
    height:20%;
    width: 100px;
}
/* #result_container{
    pre{
        color: wheat;
        margin-left: 50%;
        font-size: 20px;
    }

} */
